body{
    font-family: Consolas, monaco, monospace !important;
    font-size: 11px;
    background-color:#37474f;
    color:#b0bec5;
    overflow: hidden;
}
#editor {
    margin-top: 51px;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.menu{
    background-color: #263238;
    padding-left: 2.5% !important;
}
.menu > ul > li{
    padding-right: 10px;
    display: inline;
}
.rodape{
    bottom: 0;
    background-color: #263238;
    height: 20px;
    width: 100%;
    position: fixed;
    padding-top: 2px;    
}
#copyright{
    float:right;
    padding-right: 10px; 
}
#nomeTexto{padding-left: 10px;}
.btn-floating{
    background-color: #37474f !important;
}
.disabled > i{color: #cfd8dc;}
#salva{color:#81d4fa !important;}
#novo{color:#ffe082 !important;}
#analise-lexica{color:#a5d6a7 !important;}
#limpa{color:#ef9a9a !important;}
#analise-sintatica{color:#ce93d8 !important;}
#analise-semantica{color:#ffcc80 !important;}

ul{margin-top: 7px !important;}

#toast-container {
    position:fixed;
    top: -20px !important;
    right: auto !important;
    left:400px;
  }